header {
  background-color: #006AB5;
}
header ul{
      list-style: none;
      text-align: right;
      padding: 10px 0;

}
header ul li, header ul li a{
      text-decoration: none;
      font-size:10px;
      color: white;
      display: inline;
      text-transform: uppercase;
      padding: 0 3px;
      letter-spacing: 3px;
}